body {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.info {
    display: flex;
    background-color: whites;
}

.quote {
    background-color: lightgray;
    color: #1F2937;
}
.quote .text {
    font-size: 36px;
    font-style: italic;
}
.quote .cit {
    font-weight: bold;
}

.call {
    background-color: white;
}

footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
colors and font styles
dark background color (hero and footer), #1F2937
Hero Main text ("this website is awesome"),
48px extra-bold #F9FAF8
Hero Secondary text, Header Link Text 18px #E5E7EB
Header Logo Text 24px #F9FAF8
Button color, call to action background color #3882F6
information header text
36px extra-bold #1F2937
Quote section background color #E5E7EB
Quote text
36px light italic #1F2937
*/